version: 2.1

jobs:
  build_test:
    docker:
      - image: cimg/python:3.9.12
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Create whl and install
          command: |
            python setup.py sdist bdist_wheel
            sudo pip install pipenv
            pipenv install dist/*.whl
            pipenv install pytest
      - run:
          name: Test
          command: |
            pipenv run pytest --cov=hshap --junitxml=test-results/junit.xml
            pipenv run codecov
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  test_pypi_publish:
    docker:
      - image: cimg/python:3.9.12
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Create whl and publish to Test PyPI
          command: |
            python setup.py sdist bdist_wheel
            sudo pip install pipenv
            pipenv install twine
            pipenv run twine upload --repository testpypi dist/*
  pypi_publish:
    docker:
      - image: cimg/python:3.9
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Create whl and publish to PyPI
          command: |
            python setup.py sdist bdist_wheel
            sudo pip install pipenv
            pipenv install twine
            pipenv run twine upload dist/*

workflows:
  build_test_publish:
    jobs:
      - build_test
      - test_pypi_publish:
          requires:
            - build_test
          filters:
            branches:
              only:
                - dev
      - pypi_publish:
          requires:
            - build_test
          filters:
            branches:
              only:
                - main
